//replace @import with local file
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "base/typography";
@import "layout/header";
@import "layout/hero";
@import "layout/latest-news";
@import "layout/featured-event";
@import "layout/about-me";


html {
    font-family: 'Roboto', sans-serif;
    background-color: $background_dark;
    box-sizing: border-box;
    scroll-behavior: smooth;

}



@media screen and (max-width: pxToEm(1100)) {
    #block-adchallenge-content {
        margin-left: $margin_left_right_mobile;
        margin-right: $margin_left_right_mobile;
    }

    #block-latest-event {
        padding-left: $margin_left_right_mobile;
        padding-right: $margin_left_right_mobile;
    }

    #challenge-about-me {
        margin-left: $margin_left_right_mobile;
        margin-right: $margin_left_right_mobile;
    }

    header #block-adchallenge-branding{
        margin-left: $margin_left_right_mobile;
    }
    header #block-adchallenge-main-menu {
        margin-right: $margin_left_right_mobile;
    }
}