//assuming default browser settings
//FUNCTIONS

  //PAGE WIDE MARGINS
 $margin_left_right:10%;
$margin_left_right_mobile:5%;
//COLORS
  $white:#FFF;
  $light_red:#FF5252;
  $background_dark:#101010;
  $light_grey:#D4D4D4;
  $medium_grey:#949494;
  $bondi_blue:#0097A7;
  $dark_blue:#161E21;

  //WEIGHTS
  $thin_font_weight:100;
  $light_font_weight:300;
  $normal_font_weight:400;
  $medium_font_weight:500;
  $max_font_weight:900;
  //FONT SIZES
  $h2_font_size:pxToRem(24);
 
