#block-footer {
    background-color: #0F2123;
    margin-bottom: 0;

    .menu {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 0;

        .menu-item {
            margin-left: 1rem;

            a {

                font-weight: $normal_font_weight;
                font-size: pxToRem(14);
                line-height: pxToRem(30);
                color: $medium_grey;
                text-decoration: none;
            }

            display: inline-block;
        }

        .menu-item:first-child {
            margin-left: 0rem;
        }
    }
}

#block-footercreated {
    margin-top: 0;
    background-color: #1E2C2E;

    p {
        margin-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        text-align: center;
        color: #D5D5D5;

        a {
            color: $white;
            text-decoration: underline;

        }
    }
}